#trainer-photos  {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left:  15%;
    margin-right: 15%;
   
}

#trainer-photos {
    position: relative;

}

#trainer-photos #photo1{
    position: relative;

}

#trainer-photos #photo2{
    position: relative;

}

#trainer-photos #photo3{
    position: relative;

}


#photo1::after, #photo1::before {
    content: '';
    position: absolute;
    background-color: #355592;
}


#photo1::before {
    width: 60px;
    height: 6px;
    top: -6px; 
    left: 50%;
    transform: translateX(-50%);
}


#photo1::after {
    width: 60px;
    height: 6px;
    bottom: -6px; 
    left: 50%;
    transform: translateX(-50%);
   

}

#photo2::after, #photo2::before {
    content: '';
    position: absolute;
    background-color: #355592;
}


#photo2::before {
    width: 60px;
    height: 6px;
    top: -6px; 
    left: 50%;
    transform: translateX(-50%);
    
}


#photo2::after {
    width: 60px;
    height: 6px;
    bottom: -6px; 
    left: 50%;
    transform: translateX(-50%);
   
}

#photo3::after, #photo3::before {
    content: '';
    position: absolute;
    background-color: #355592;
}


#photo3::before {
    width: 60px;
    height: 6px;
    top: -6px; 
    left: 50%;
    transform: translateX(-50%);
}


#photo3::after {
    width: 60px;
    height: 6px;
    bottom: -6px; 
    left: 50%;
    transform: translateX(-50%);
}

#trial1 {
    position: relative;
    
}

#trial1::after, #trial1::before {
    content: '';
    position: absolute;
    background-color: #355592;
}


#trainer-photos #trial1::after {
    position: absolute;
    content: '';
    width: 6px;
    height: 60px;
    background-color: #355592;
    top: 50%;
    transform: translateY(-50%);
    left: -6px;
}

#trainer-photos #trial1::before {
    position: absolute;
    content: '';
    width: 6px;
    height: 60px;
    background-color: #355592;
    top: 50%;
    transform: translateY(-50%);
    right: -6px;
}

#trial2 {
    position: relative;
}

#trial2::after, #trial2::before {
    content: '';
    position: absolute;
    background-color: #355592;
}


#trainer-photos #trial2::after {
    position: absolute;
    content: '';
    width: 6px;
    height: 60px;
    background-color: #355592;
    top: 50%;
    transform: translateY(-50%);
    left: -6px;
}

#trainer-photos #trial2::before {
    position: absolute;
    content: '';
    width: 6px;
    height: 60px;
    background-color: #355592;
    top: 50%;
    transform: translateY(-50%);
    right: -6px;
}


#trial3 {
    position: relative;
}

#trial3::after, #trial3::before {
    content: '';
    position: absolute;
    background-color: #355592;
 
}


#trainer-photos #trial3::after {
    position: absolute;
    content: '';
    width: 6px;
    height: 60px;
    background-color: #355592;
    top: 50%;
    transform: translateY(-50%);
    left: -6px;
}

#trainer-photos #trial3::before {
    position: absolute;
    content: '';
    width: 6px;
    height: 60px;
    background-color: #355592;
    top: 50%;
    transform: translateY(-50%);
    right: -6px;
}

#trainer-photos #trial3:hover::before {
    height: 160px;

}

#trainer-photos #trial3:hover::after {
    height: 160px;
   
}

#trainer-photos #trial2:hover::before {
    height: 160px;
}

#trainer-photos #trial2:hover::after {
    height: 160px;
}
#trainer-photos #trial1:hover::before {
    height: 160px;
}

#trainer-photos #trial1:hover::after {
    height: 160px;
}

.trainer-name {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

#photo1:hover .trainer-name {
    visibility: visible;
    opacity: 1;
}

#photo2:hover .trainer-name {
    visibility: visible;
    opacity: 1;
}

#photo3:hover .trainer-name {
    visibility: visible;
    opacity: 1;
}
