footer {
    background-color:#355592;
    text-align: left;
    color: #FBF8F1;

}

.no-bullets {
    list-style-type: none;
  }

.no-bullets li a{
    text-decoration: none;
    color: white;
    padding: 0%;
    margin: 0%;

  }